@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@700&display=swap');

:root{
    --view-width-large: 1920px;
    --view-width-medium: 1366px;
    --view-width-small: 640px;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Nav Bar */

nav{
    position: fixed;
    top: 0;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    height: 60px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
}

nav li{
    border-right: 1px solid #bbb;
}

nav li:last-child{
    border-right: none;
}

nav ul{
    margin: 0;
    padding: 0;
    background-color: #333;
}

nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    white-space: nowrap;
}

nav a:hover{
    background-color: #04AA6D;
    transition: background-color 0.5s ease-out;
}

.active {
    background-color: #04AA6D;
}

/* Navbar for Mobile size screen*/

#hamburgerToggle{
    display: none;
}

#hamburgerButton{
    display: none;
}

@media screen and (max-width: 620px){
    /*Note: CSS variables don't work with Media Queries natively, which is why I am using "620px" here.*/

    /* Show the Checkbox which should be the hamburger menu*/
    #hamburgerToggle{
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
    }

    /* Hide the navbar boxes*/
    nav ul{
        /* display: none; */
        visibility: collapse;
    }
    

    #hamburgerButton{
        display: inline-block; 
        position: fixed;
        top: 50px;
        left: 30px;
        border: 1px solid;
        border-radius: 3px;
        user-select: none;
    }

    #hamburgerToggle:checked ~ #test{
        visibility: visible;
    }
    


}

/* Home Page */

#homeMainBlock{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10%;
}

#homeMainBlock > h1{
    grid-row: 1;
    grid-column: 1 / span 2;
    margin-left: 25%;
}

#homeMainBlock > p{
    grid-row: 2;
    grid-column: 1 / span 2;
    margin-left: 25%;
}

#homeMainBlock > picture{
    grid-row: 1 / span 3;
    grid-column: 3;
    margin-right: 40%;
    margin-top: 4%;
}

#socialMediaIcons{
    grid-row: 3;
    grid-column: 1 / span 2;
    margin-left: 25%;
}

#socialMediaIcons > ol{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
} 

#socialMediaIcons li{
    display: inline-block;
}


/* Technical Skills */

#skillsMainBlock{
   margin-top: 65px;
}

#skillsContainer{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

#skillsContainer > section{
    border: solid black 1px;
}

/* Passion Projects */

main > * {
    border: solid black 1px;
}

#passionMainBlock{
    margin-top: 65px;
}

#gameMedia * {
    margin: 0;
    padding: 0;
    border: solid black 1px;
} 

#gameMedia{
    display: flex;
    flex-wrap: wrap;
}

#gameMedia > figure{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#videoWithDescription{
    margin-left: auto;
    margin-right: auto;
}

#videoWithDescription *{
    width: 550px;
}

#modelingSection * {
    margin: 0;
    padding: 0;
}

#modelingSection > ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    border: solid black 1px;
}

#modelingSection > ul > li{
    border: solid black 1px;
    margin-left: auto;
    margin-right: auto;
}


/* Contact */

#contactMainBlock{
    margin-top: 65px;
}

